@import "common/variables";
@import "common/mixins";
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

p {
    color: #fff;
    text-align: center;
    @include font-size($p-font-sizes);
}

.parent {
    position: relative;
    min-height: 150px;
    margin: 20px auto;
}

.child {
    padding: 20px;
    /*background-color: crimson;*/
    &.both {
        @include centerer;
    }
    &.horizontal {
        @include centerer(true, false);
    }
    &.vertical {
        @include centerer(false, true);
    }
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important;
}

.img-resp {
    position: relative;
    @include breakpoint(md) {
        float: none;
        width: 100%;
    }
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #d83554;
}

.wrapper,
.row {
    @extend %clearfix;
}

[class*='column-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
}

@media #{$breakpoint-medium} {
    .wrapper {
        width: 100%;
    }
    @for $i from 1 through $grid-general {
        .top-#{$i} {
            top: 100% / $grid-general * $i;
        }
    }
    @for $i from 1 through $grid-general {
        .bottom-#{$i} {
            bottom: 100% / $grid-general * $i;
        }
    }
    @for $i from 1 through $grid-general {
        .margin-t-#{$i} {
            margin-top: 100% / $grid-general * $i;
        }
    }
    @for $i from 1 through $grid-general {
        .margin-b-#{$i} {
            margin-bottom: 100% / $grid-general * $i;
        }
    }
    @for $i from 1 through $grid-general {
        .padding-t-#{$i} {
            padding-top: 100% / $grid-general * $i;
        }
    }
    @for $i from 1 through $grid-general {
        .padding-b-#{$i} {
            padding-bottom: 100% / $grid-general * $i;
        }
    }
    @for $i from 1 through $grid-columns {
        .column-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}


/*demo styling*/

* {
    color: #363742;
}

span {
    display: block;
    padding: 2em;
    text-align: center;
}

p {
    display: block;
    padding: 2em;
    text-align: center;
}