#home {
 
  a span {   
    width: 70px;
    height: 70px; 
    border: 3px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
  }
  a span::after {
    position: absolute; 
    content: '';
    width: 16px;
    height: 16px;
    margin: -5px 0 0 -8px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
}